In [42]:
import pandas as pd

data = pd.read_csv('my_data.csv')

print(data)

   Unnamed: 0     name  age  salary
0           0    Alice   25   50000
1           1      Bob   30   60000
2           2  Charlie   35   70000
3           3    james   30  400000
4           4    Alice   25   50000
5           5      Bob   30   60000
6           6  Charlie   35   70000
7           7    james   30  400000

In [43]:
data.rename(columns={'Unnamed: 0': '번호'}, inplace=True)

print(data)

   번호     name  age  salary
0   0    Alice   25   50000
1   1      Bob   30   60000
2   2  Charlie   35   70000
3   3    james   30  400000
4   4    Alice   25   50000
5   5      Bob   30   60000
6   6  Charlie   35   70000
7   7    james   30  400000

In [44]:
data = data.drop('번호', axis=1)

print(data)

      name  age  salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    james   30  400000
4    Alice   25   50000
5      Bob   30   60000
6  Charlie   35   70000
7    james   30  400000

In [45]:
name_dict = {'Alice': '앨리스', 'Bob': '밥', 'Charlie': '찰리', 'james': '제임스'}
data['name'] = data['name'].map(name_dict)

print(data)

  name  age  salary
0  앨리스   25   50000
1    밥   30   60000
2   찰리   35   70000
3  제임스   30  400000
4  앨리스   25   50000
5    밥   30   60000
6   찰리   35   70000
7  제임스   30  400000

In [46]:
data['salary'] = data['salary'].apply(lambda x: '{0:,}'.format(x))

print(data)

  name  age   salary
0  앨리스   25   50,000
1    밥   30   60,000
2   찰리   35   70,000
3  제임스   30  400,000
4  앨리스   25   50,000
5    밥   30   60,000
6   찰리   35   70,000
7  제임스   30  400,000

In [48]:
print(data.to_string(index=False))

name  age  salary
 앨리스   25  50,000
   밥   30  60,000
  찰리   35  70,000
 제임스   30 400,000
 앨리스   25  50,000
   밥   30  60,000
  찰리   35  70,000
 제임스   30 400,000

In [47]:
data.to_csv('my_data_20230801.csv')